[submodule "pluralsight-docker-deep-dive/psweb"]
	path = pluralsight/pluralsight-docker-deep-dive/psweb
	url = https://github.com/nigelpoulton/psweb.git
[submodule "TopCoders-angular2-testing"]
	path = TopCoders-angular2-testing
	url = git@github.com:kaltepeter/TopCoders-angular2-testing.git
[submodule "WatchUsBuild-SimpleNodeAppWithDocker"]
	path = WatchUsBuild-SimpleNodeAppWithDocker
	url = git@github.com:kaltepeter/WatchUsBuild-SimpleNodeAppWithDocker.git
[submodule "docker-for-java/docker-java-sample"]
	path = docker-for-java/docker-java-sample
	url = https://github.com/arun-gupta/docker-java-sample.git
[submodule "kayla-cb-ws/custom-marker-pipelines"]
	path = kayla-cb-ws/custom-marker-pipelines
	url = https://github.com/cloudbees-core-cd-workshop/custom-marker-pipelines.git
[submodule "kayla-cb-ws/helloworld-nodejs"]
	path = kayla-cb-ws/helloworld-nodejs
	url = git@github.com:kaltepeter/helloworld-nodejs.git
[submodule "kayla-cb-ws/pipeline-library"]
	path = kayla-cb-ws/pipeline-library
	url = git@github.com:kaltepeter/pipeline-library.git
[submodule "nrwl/workshop-nx-starter"]
	path = nrwl/workshop-nx-starter
	url = git@github.com:kaltepeter/workshop-nx-starter.git
[submodule "pivotal/PivotalCloudCache-Workshop"]
	path = pivotal/PivotalCloudCache-Workshop
	url = git@github.com:kaltepeter/PivotalCloudCache-Workshop.git
[submodule "pluralsight/pluralsight-gulp"]
	path = pluralsight/pluralsight-gulp
	url = git@github.com:kaltepeter/pluralsight-gulp.git
[submodule "frontendmasters/nodebots-workshop"]
	path = frontendmasters/nodebots-workshop
	url = git@github.com:kaltepeter/nodebots-workshop.git
[submodule "frontendmasters/testing-workshop"]
	path = frontendmasters/testing-workshop
	url = git@github.com:kaltepeter/testing-workshop.git
[submodule "frontendmasters/user-authentication-api"]
	path = frontendmasters/user-authentication-api
	url = git@github.com:kaltepeter/user-authentication-api.git
[submodule "frontendmasters/webpack-workshop-2018"]
	path = frontendmasters/webpack-workshop-2018
	url = git@github.com:kaltepeter/webpack-workshop-2018.git
