[submodule "pluralsight-docker-deep-dive/psweb"]
	path = pluralsight-docker-deep-dive/psweb
	url = https://github.com/nigelpoulton/psweb.git
[submodule "TopCoders-angular2-testing"]
	path = TopCoders-angular2-testing
	url = git@github.com:kaltepeter/TopCoders-angular2-testing.git
[submodule "WatchUsBuild-SimpleNodeAppWithDocker"]
	path = WatchUsBuild-SimpleNodeAppWithDocker
	url = git@github.com:kaltepeter/WatchUsBuild-SimpleNodeAppWithDocker.git
[submodule "docker-for-java/docker-java-sample"]
	path = docker-for-java/docker-java-sample
	url = https://github.com/arun-gupta/docker-java-sample.git
[submodule "kayla-cb-ws/custom-marker-pipelines"]
	path = kayla-cb-ws/custom-marker-pipelines
	url = https://github.com/cloudbees-core-cd-workshop/custom-marker-pipelines.git
[submodule "kayla-cb-ws/helloworld-nodejs"]
	path = kayla-cb-ws/helloworld-nodejs
	url = git@github.com:kaltepeter/helloworld-nodejs.git
[submodule "kayla-cb-ws/pipeline-library"]
	path = kayla-cb-ws/pipeline-library
	url = git@github.com:kaltepeter/pipeline-library.git
