/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=4DB6AC&secondary.color=616161 */

:root {
  --p-med: #4db6ac;
  --p-text: #000000;
  --p-dark: #00867d;
  --p-light: #82e9de;
  --s-med: #616161;
  --s-text: #ffffff;
  --s-dark: #373737;
  --s-light: #8e8e8e;
}

body {
  font-size: 1.5em;
  padding: 2vh 2vw;
  background: var(--s-dark);
}

h1 {
  font-size: 2rem;
  color: var(--s-text);
}

form {
  background: var(--p-med);
  border: 2px solid var(--p-dark);
  color: var(--p-text);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input,
button {
  padding: 0.5rem;
}

input[type="text"] {
  flex-grow: 1;
  background: var(--p-light);
  color: var(--p-text);
  font-size: 1.2rem;
  border: 2px solid var(--p-text);
}

input[type="submit"],
button {
  margin-top: 2rem;
  margin-bottom: 1em;
  align-self: flex-end;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  border: 2px solid var(--s-dark);
}

input[type="submit"] {
  background: var(--s-light);
  color: var(--s-text);
}

button {
  align-self: flex-start;
  background: var(--p-med);
  border-color: var(--p-dark);
  color: var(--p-text);
}

input:disabled,
button:disabled {
  opacity: 0.4;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
